*
!.gitignore
!CMakeLists.txt
!ConsoleColor.h
!contributors.txt
!FunctionOpcode.cpp
!FunctionOpcode.h
!LoopConvert.cpp
!Utils.cpp
!Utils.h
!ClangUtils.cpp
!ClangUtils.h
!Compiler.cpp
!Compiler.h
!ConstExpr.h
!OpcodeConsts.h
!Script.h
!Script.cpp
!bin/include
!compiler/
!Crypto/
!Compression/
!bin/Debug/xcompress32.dll
compiler/XscCompilerRaw (RDR)/obj/
compiler/XscCompilerRaw (RDR)/bin/
compiler/XscCompilerRaw/bin/
compiler/XscCompilerRaw/obj/New Text Document.txt