CMakeFiles/
CMakeLists.txt
INSTALL.vcxproj
INSTALL.vcxproj.filters
PACKAGE.vcxproj
PACKAGE.vcxproj.filters
cmake_install.cmake
loop-convert.dir/Debug/
loop-convert.vcxproj
loop-convert.vcxproj.filters
