*
!.gitignore
!CMakeLists.txt
!ConsoleColor.h
!contributors.txt
!FunctionOpcode.cpp
!FunctionOpcode.h
!LoopConvert.cpp
!Utils.cpp
!Utils.h
!bin/include
!compiler/
compiler/XscCompilerRaw (RDR)/obj/
compiler/XscCompilerRaw (RDR)/bin/
compiler/XscCompilerRaw/bin/
compiler/XscCompilerRaw/obj/New Text Document.txt